<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.12.0</string>
	<key>CFBundleVersion</key>
	<string>1313</string>
	<key>GITHash</key>
	<string>7565f17a8bbc8e0e3fc797e13c20ecd39e2ef0a2</string>
</dict>
</plist>
