<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.13.0</string>
	<key>CFBundleVersion</key>
	<string>1318</string>
	<key>GITHash</key>
	<string>479906dff4af16d0e268fd9afa8c8d14a3922dc9</string>
</dict>
</plist>
